/* Interactive Sandbox */

body {
   background-color: #264653;
   font-family: sans-serif;
}

canvas {
   border: 2px solid #ccc;
   border-radius: 1em;
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

h1 {
   color: white;
}

h2 {

}

hr {
  border: 2px solid;
  border-radius: 2px;
  width: 90%;
}


button {
   /* display: block; */
   padding: 1%;
   margin-left: auto;
   margin-right: auto;
   font-size: 1.25em;
}

select {
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   font-size: 1.05em;
}

input[type=range] {
  height: 34px;
  width: 50%;
}

label {
   font-size: 1em;
}




.hiddenDiv {
   display: none;
}



.grid-container {
   text-align: center;
  display: grid;
  grid-template-columns: auto max-content 15% 25% auto;
  grid-template-rows: 7% max-content 20% max-content;
  gap: 2% 2%;
  grid-template-areas:
  "headingDiv headingDiv headingDiv headingDiv headingDiv"
  ". canvasDiv canvasDiv controlsDiv ."
  ". creationControlsDiv descriptionDiv descriptionDiv ."
  ". creationControlsDiv descriptionDiv descriptionDiv .";
}
.headingDiv {
   grid-area: headingDiv;
}

.canvasDiv {
   grid-area: canvasDiv;
   background-color: gray;
   border-radius: 1em;
}

.controlsDiv {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.9fr 1.1fr;
   gap: 2% 2%;
   grid-template-areas:
     "playPauseControlsDiv"
     "worldControlsDiv";
   grid-area: controlsDiv;
}
.playPauseControlsDiv {
   grid-area: playPauseControlsDiv;
   background-color: #f4a261;
   border-radius: 1em;
}

.fadeOutDiv {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 1% 1%;
  grid-template-areas:
    "cellSizeSelectorDiv themeSelectorDiv";
}
.fadeOutCheckboxDiv {
   grid-area: cellSizeSelectorDiv;
}
.fadeOutSliderDiv {
   grid-area: themeSelectorDiv;
}


.creationControlsDiv {
   grid-area: creationControlsDiv;
   background-color: #e76f51;
   border-radius: 1em;
}


.worldControlsDiv {
   grid-area: worldControlsDiv;
   background-color: #2a9d8f;
   border-radius: 1em;
}
.selectorsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1% 1%;
  grid-template-areas:
    "cellSizeSelectorDiv themeSelectorDiv";
   margin: auto;
}
.cellSizeSelectorDiv {
   grid-area: cellSizeSelectorDiv;
}
.themeSelectorDiv {
   grid-area: themeSelectorDiv;
}

.descriptionDiv {
   grid-area: descriptionDiv;
   background-color: #e9c46a;
   border-radius: 1em;
}

.descriptionText {
   text-align: left;
}

.footerDiv {
   display: none;
   grid-area: footerDiv;
   border-radius: 1em;
   color: lightgray;
}
